* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f1f1f1;
  height: auto;
}

#h1 {
  margin-top: 10px;
  margin-left: 10px;
}


#RSS {
  color: rgb(0, 200, 255);
  padding: 7px;
  margin-top: 30px;
  height: 30%;
  width: 100%;
  background-color: #f1f1f1;
  border: 1px solid rgb(120, 120, 120);
}

#top-bar {
  border: 1px solid black;
  margin-top: 30px;
  margin-left: 20px;
  display: flex;
  width: 97.85%;
  height: 50px;
  background-color: #f1f1f1;
  align-items: center;
  padding-left: 20px;
}


#top-bar-text {
  display: flex;
  width: 100%;
  justify-content: end;
  padding: 0;
  color: rgb(0, 200, 255);

}


#Account {
  display: flex;
  min-width: 1%;
  justify-content: end;
  padding: 0;
  color: rgb(0, 200, 255);
  text-decoration: underline;
  border-width: 0px;
  cursor: pointer;
  padding-right: 1%;
}


#Afrekenen {
  display: flex;
  min-width: 1%;
  justify-content: end;
  padding: 0;
  color: rgb(0, 200, 255);
  border-width: 0px;
  text-decoration: underline;
  cursor: pointer;
  padding-right: 1%;
}



#Inlogen {
  display: flex;
  min-width: 1%;
  justify-content: end;
  padding: 0;
  color: rgb(0, 200, 255);
  text-decoration: underline;
  cursor: pointer;
  border-width: 0px;
  padding-right: 1%;
}




#top-bar-bottom {
  display: flex;
  width: 97.85%;
  height: 100px;
  margin-left: 20px;
  background-color: #f1f1f1;
  align-items: center;
  border-bottom: 2px solid rgb(0, 0, 0);
  border: 1px solid rgb(0, 0, 0);
}

#Logo {
  align-items: center;
  justify-content: start;
  display: flex;
  background-color: #f1f1f1;
  width: 30%;
  height: 100%;
}


#Logo-Img {
  width: 25%;
  height: 100%;
  padding-left: 5%;
}

#Top-Bar-Buttons-Space {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f1f1f1;
  width: 50%;
  height: 100%;
}

#Top-Bar-Buttons {
  min-width: 15%;
  min-height: 50%;
  background-color: #f1f1f1;
  transition: 0.3s;
  border-right: 1px solid black;
  border-bottom: 0px;
  border-left: 0px;
  border-top: 0px;
}


#Top-Bar-Buttons:hover {
  border: 2px solid rgb(0, 200, 255);
  cursor: pointer;
}

#Top-Bar-Buttons:active {
  background-color: rgb(0, 200, 255);
  opacity: 0.6;
}


#Top-Bar-3Buttons-Space {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #f1f1f1;
  width: 25%;
  height: 100%;
}


#Top-Bar-3Buttons {
  min-width: 30%;
  min-height: 50%;
  background-color: rgb(0, 200, 255);
  transition: 0.3s;
  border: 1px solid black;
  box-shadow: 1px 1px 5px 1px black;
}

#Top-Bar-3Buttons:hover {
  border: 1px solid rgb(0, 200, 255);
  background-color: #f1f1f1;
  cursor: pointer;
}

#Top-Bar-3Buttons:active {
  background-color: gray;
  border: none;
  opacity: 0.8;
}


#container {
  background-color: blueviolet;
  width: 100%;
  height: 100vh;
  display: flex;
  padding-left: 20px;
  padding-right: 20px;
}

#side-bar {
  gap: 2%;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 20%;
  background-color: #f1f1f1;
  border: 1px solid rgb(0, 200, 255);
}

#Home-Button {
  margin-top: 5%;
  background-color: #f1f1f1;
  border: none;
  text-decoration: underline;
  color: blue;
}

#Home-Button:hover{
cursor: pointer;
}


#lijst {
  margin-top: 5%;
  display: flex;
  background-color: aquamarine;
  width: 90%;
  height: 10%;
  justify-content: center;
  align-items: center;
  border: 2px solid rgb(0, 200, 255);
}

#lijst2 {
  display: flex;
  background-color: rgb(246, 255, 127);
  width: 90%;
  height: 15%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 2px solid rgb(0, 200, 255);
}

#lijst3 {
  display: flex;
  background-color: rgb(127, 255, 148);
  width: 90%;
  height: 15%;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border: 2px solid rgb(0, 200, 255);
}


#lijst4 {
  display: flex;
  background-color: rgb(127, 255, 148);
  width: 90%;
  height: 15%;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border: 2px solid rgb(0, 200, 255);
}




.item {
  column-gap: 10px;
  max-width: 100%;
  background-color: #f1f1f1;
  height: 250px;
  width: 200px;
  border-radius: 5px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  border: 5px solid rgb(0, 213, 255);
  box-shadow: 0px 0px 5px 0px black;
}


.a {
  height: 50%;
  width: 90%;
  background-color: rgb(33, 33, 41);
  margin-top: 10px;
  margin-left: 10px;
  margin-left: 10px;
}

.b {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 110px;
  height: 20%;
  width: 40%;
  background-color: #f1f1f1f1;
  border: 3px solid rgb(0, 200, 255);
  ;
  border-radius: 15px;
  font-size: 20px;
  box-shadow: 0px 0px 5px 0px black;
}

.b:hover {
  background-color: rgb(0, 200, 255);
  color: white;
  cursor: pointer;
}

.b:active {
  background-color: rgb(0, 200, 255);
  opacity: 0.7;


}


.text {
  padding-top: 20px;
  padding-left: 10px;
  font-family: Arial, Helvetica, sans-serif;
}

.text2 {
  color: gainsboro;
  font-size: 16px;
  padding-top: 5px;
  padding-left: 10px;
  font-family: Arial, Helvetica, sans-serif;
}

.text3 {
  color: rgb(0, 200, 255);
  font-size: 20px;
  padding-top: 5px;
  padding-left: 10px;
  font-family: Arial, Helvetica, sans-serif;
}




.item-container {
  border-right: 1px solid black;
  border-bottom: 1px solid black;
  display: flex;
  background-color: #f1f1f1;
  height: 100%;
  width: 100%;
  align-items: center;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
  align-content: center;
  overflow: auto;
}

#bottom-page-container {
  width: 100%;
  height: 50vh;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}

#bottom-page {
  display: flex;
  height: 100%;
  width: 98%;
  background-color: purple;
}

#bottoms-page-text {
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  width: 33%;
  height: 100%;
  background-color: aqua;
}


#bottoms-page-text2 {
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  width: 33%;
  height: 100%;
  background-color: aquamarine;
}

#bottoms-page-text3 {
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  width: 34%;
  height: 100%;
  background-color: blue;
}

#bottom-page2-container {
  width: 100%;
  height: 5vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

#bottom-page2 {
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f1f1f1;
  width: 98%;
  height: 100%;
}