* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html, body {
  overflow-x: hidden;
}



body {
  font-family: Arial, sans-serif;
  background-color: #f1f1f1;
  height: auto;
}

#h1 {
  background-color: rgb(0, 200, 255);
  width: 100%;
  height: 100%;
  padding-top: 30px;
  padding-left: 10px;
  padding-bottom: 30px;
}



#top-bar {
  border: 1px solid black;
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 50px;
  background-color: #f1f1f1;
  align-items: center;
}

#Taal{
padding-left: 30px;
}


#top-bar-text {
  display: flex;
  width: 100%;
  justify-content: end;
  padding: 0;
  color: rgb(0, 200, 255);

}


#Account {
  display: flex;
  min-width: 1%;
  justify-content: end;
  padding: 0;
  color: rgb(0, 200, 255);
  text-decoration: underline;
  border-width: 0px;
  cursor: pointer;
  padding-right: 1%;
}


#Afrekenen {
  display: flex;
  min-width: 1%;
  justify-content: end;
  padding: 0;
  color: rgb(0, 200, 255);
  border-width: 0px;
  text-decoration: underline;
  cursor: pointer;
  padding-right: 1%;
}



#Inlogen {
  display: flex;
  min-width: 1%;
  justify-content: end;
  padding: 0;
  color: rgb(0, 200, 255);
  text-decoration: underline;
  cursor: pointer;
  border-width: 0px;
  padding-right: 1%;
}




#top-bar-bottom {
  display: flex;
  width: 100%;
  height: 100px;
  background-color: #f1f1f1;
  align-items: center;
  border-bottom: 1px solid rgb(0, 0, 0);
}

#Logo {
  align-items: center;
  justify-content: start;
  display: flex;
  background-color: #f1f1f1;
  width: 30%;
  height: 100%;
}


#Logo-Img {
  min-width: 25%;
  height: 100%;
  padding-left: 5%;
}

#Top-Bar-Buttons-Space {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f1f1f1;
  width: 50%;
  height: 100%;
}

.Top-Bar-Buttons {
  min-width: 15%;
  min-height: 50%;
  background-color: #f1f1f1;
  transition: 0.3s;
  border-bottom: 0px;
  border-left: 0px;
  border-top: 0px;
}


.Top-Bar-Buttons:hover {
  border: 2px solid rgb(0, 200, 255);
  cursor: pointer;
}

.Top-Bar-Buttons:active {
  background-color: rgb(0, 200, 255);
  opacity: 0.6;
}


#Top-Bar-3Buttons-Space {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #f1f1f1;
  width: 25%;
  height: 100%;
}


.Top-Bar-3Buttons {
  min-width: 30%;
  min-height: 50%;
  background-color: rgb(0, 200, 255);
  transition: 0.3s;
  box-shadow: 0px 0px 1px 0px black;
}

.Top-Bar-3Buttons:hover {
  background-color: #f1f1f1;
  cursor: pointer;
}

.Top-Bar-3Buttons:active {
  background-color: gray;
  border: none;
  opacity: 0.8;
}


#container {
  background-color: #f1f1f1;
  width: 100%;
  height: auto;
  min-height: 100vh;
  display: flex;
  overflow: hidden;
}

#side-bar {
  gap: 2%;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 20%;
  background-color: #f1f1f1;
  border: 1px solid rgb(0, 200, 255);
}

#Home-Button {
  margin-top: 5%;
  background-color: #f1f1f1;
  border: none;
  text-decoration: underline;
  color: blue;
}

#Home-Button:hover{
cursor: pointer;
}


#lijst {
  margin-top: 5%;
  display: flex;
  background-color: #f1f1f1;
  width: 90%;
  height: 10%;
  justify-content: center;
  align-items: center;
  border: 2px solid rgb(0, 200, 255);
}

#lijst2 {
  display: flex;
  background-color: #f1f1f1;
  width: 90%;
  height: 15%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 2px solid rgb(0, 200, 255);
}

#lijst3 {
  display: flex;
  background-color: #f1f1f1;
  width: 90%;
  height: 15%;
  flex-direction: column-reverse;
  justify-content: center;
  align-items: center;
  border: 2px solid rgb(0, 200, 255);
}


#lijst4 {
  display: flex;
  background-color: #f1f1f1;
  width: 90%;
  height: 15%;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border: 2px solid rgb(0, 200, 255);
}




.item {
  column-gap: 10px;
  max-width: 100%;
  background-color: #f1f1f1;
  height: auto;
  min-height: 250px;
  width: 200px;
  border-radius: 5px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  box-shadow: 0px 0px 2px 0px black;
}


.a {
  display: flex;
  justify-content: center;
  height: auto;
  min-height: 20vh;
  width: 90%;
  background-color: #f1f1f1;
  margin-top: 10px;
  margin-left: 10px;
}

.b {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 110px;
  height: 20%;
  width: 40%;
  color: rgb(0, 200, 255);
  background-color: #f1f1f1f1;
  border-radius: 15px;
  font-size: 20px;
  box-shadow: 0px 0px 1px 0px black;
}

.b:hover {
  background-color: rgb(0, 200, 255);
  color: white;
  cursor: pointer;
}

.b:active {
  background-color: rgb(0, 200, 255);
  opacity: 0.7;


}


.text {
  padding-top: 20px;
  padding-left: 10px;
  font-family: Arial, Helvetica, sans-serif;
}

.text2 {
  color: gainsboro;
  font-size: 16px;
  padding-top: 5px;
  padding-left: 10px;
  font-family: Arial, Helvetica, sans-serif;
}

.text3 {
  color: rgb(0, 200, 255);
  font-size: 20px;
  padding-top: 5px;
  padding-left: 10px;
  font-family: Arial, Helvetica, sans-serif;
}

.CD{
height: 150px;
width: 150px;
}




.item-container {
  border-bottom: 1px solid black;
  display: flex;
  background-color: #f1f1f1;
  height: auto;
  min-height: 100%;
  width: 100%;
  align-items: center;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
  align-content: center;
  overflow-y: auto;
}

#bottom-page-container {
  width: 100%;
  height: 50vh;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}

#bottom-page {
  display: flex;
  height: 100%;
  width: 98%;
  background-color: #f1f1f1;
}

#bottoms-page-text {
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  width: 33%;
  height: 100%;
}


#bottoms-page-text2 {
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  width: 33%;
  height: 100%;
  background-color: #f1f1f1;
}

#bottoms-page-text3 {
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  width: 34%;
  height: 100%;
  background-color: #f1f1f1;
}

#bottom-page2-container {
  width: 100%;
  height: 5vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

#bottom-page2 {
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f1f1f1;
  width: 100%;
  height: 100%;
}




.styled {
  border: 0;
  line-height: 2.5;
  padding: 0 20px;
  font-size: 1rem;
  text-align: center;
  color: #fff;
  text-shadow: 1px 1px 1px #000;
  border-radius: 10px;
  background-color: rgb(55, 228, 20);
}

.styled:hover {
  background-color: rgb(11, 123, 48);
}

.styled:active {
  box-shadow:
    inset -2px -2px 3px rgb(255 255 255 / 60%),
    inset 2px 2px 3px rgb(0 0 0 / 60%);
}

#container-form {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 90vh;
}

.box-1 {
    width: 100%;
    height: 50px;
    background-color: rgb(0, 128, 255);
    background-image: url('https://upload.wikimedia.org/wikipedia/commons/thumb/1/1e/Coolblue_Logo.svg/2048px-Coolblue_Logo.svg.png');
    background-size: 50px 50px;
    background-repeat: no-repeat;
    background-position: start;
}

@media (max-width: 768px) {
    #container {
        flex-direction: column;
        height: auto;
    }

    form {
        grid-template-columns: 1fr;
    }

    label {
        text-align: left;
        padding-right: 0;
    }

    .box-1 {
        height: 100px;
        background-size: 30px 30px;
    }
}

@media (max-width: 480px) {
    .information {
        font-size: 1.5rem;
    }

    .information-2 {
        font-size: 1rem;
    }

    .box-1 {
        height: 75px;
        background-size: 20px 20px;
    }
}

.information {
  font-size: 2rem;
  color: blue;
  text-align: start;
  justify-content: flex-start;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  
}
.information-2 {
  font-size: 1.5rem;
  color:  rgb(0, 128, 255);
  text-align: start;
  justify-content: flex-start;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}
.box-1 {
  width: 100%;
  height: 50px;
  background-color: rgb(0, 128, 255);
}

@media (max-width: 768px) {
  #side-bar {
    width: 100%;
  }
}
